/**============================================== HANDLING FOR NAVIGATION MENU ===============================================*/
body{
    // margin: 0px -25px 0 0;
    margin: 0px 0 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
    header.gradient{
        background-image: -webkit-linear-gradient(90deg, #e3e3e3 0%, #28a745 86%, #ffffff00 100%);
    }
    header.gradient2{
        background-image: -webkit-linear-gradient(90deg, #e3e3e3 0%, #28a745 20%, #ffffff00 100%);
    }
    header{
        background-image: -webkit-linear-gradient(90deg, #e3e3e3 0%, #28a745 77%, #ffffff00 100%);
        .navbar-caledonia{
            background-color: #28a745;
            color: white;
            .container-fluid-caledonia{
                .navbar-brand-caledonia{
                    color: white;
                }
                .navbar-toggler-caledonia {
                    color: rgba(0,0,0,.55);
                    border-color: white;
                    background-color: transparent;
                    border: 1px solid transparent;
                    border-radius: .25rem;
                    span{
                        color: white;   
                        width: 1.5em;
                        font-size: calc(1.3rem + .6vw);
                        margin-top: 1rem;
                    }
                }
                .collapse-caledonia{
                    .navbar-nav-caledonia{
                        .nav-link-caledonia {
                            color: white;
                        }
                    }
                }
            }
        }
        .caledonia-menu{
            background-color: transparent;
            color: black;
            .container-fluid-caledonia{
                align-items: center!important;
                justify-content: center!important;
                .navbar-brand-caledonia{
                    color: black;
                }
                .navbar-toggler-caledonia {
                    color: white;
                    border-color: black;
                    width: 30%;
                    background-color: #e3e3e3;
                    border-radius: 1rem 1em 0rem 0;
                    border: 1px solid #e3e3e3;
                    span{
                        color: black;
                        width: 100%;   
                        font-size: 1rem;
                        margin-top: .4rem;
                    }
                }
                .collapse-caledonia{
                    text-align: center;
                    .navbar-nav-caledonia{
                        li:nth-child(1){
                            .nav-link-caledonia {
                                color: #0d6efd;
                            }
                        }
                        li{
                            .nav-link-caledonia-select{
                                color: #28a745!important;
                            }
                            .nav-link-caledonia {
                                color: black;
                                padding-right: .5rem;
                                padding-left: .5rem;
                            }
                            .dropdown-menu-caledonia-show{
                                display: block!important;
                            }
                            .dropdown-menu-caledonia{
                                min-width: 19.3rem;
                                display: none;
                                padding: .5rem 0;
                                font-size: 1rem;
                                text-align: left;
                                list-style: none;
                                background-clip: padding-box;
                                border: 1px solid rgba(0,0,0,.15);
                                border-radius: .25rem;
                                background-color: #6c757d;
                                a{
                                    color: white;
                                    display: block;
                                    width: 100%;
                                    padding: .25rem 2rem;
                                    clear: both;
                                    text-align: inherit;
                                    text-decoration: none;
                                    white-space: nowrap;
                                    background-color: transparent;
                                    border: 0;
                                    font-weight: bold;
                                    padding-right: 0!important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .navbar-caledonia, .caledonia-menu{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding-top: .5rem;
            padding-bottom: .5rem;
            .container-fluid-caledonia{
                width: 100%;
                padding-right: 1rem;
                padding-left: 1rem;
                margin-right: auto;
                margin-left: auto;
                display: flex;
                flex-wrap: inherit;
                align-items: center;
                justify-content: space-between;
                .navbar-brand-caledonia {
                    padding-top: .3125rem;
                    padding-bottom: .3125rem;
                    margin-right: .6rem;
                    font-size: 1.25rem;
                    text-decoration: none;
                    white-space: nowrap;
                    font-weight: bold;
                    .caledonia-title-lg{
                        display: none;
                    }
                    .caledonia-title-sm{
                        display: block;
                    }
                }
                .navbar-toggler-caledonia:focus {
                    text-decoration: none;
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem;
                }
                .navbar-toggler-caledonia:hover {
                    text-decoration: none;
                }
                .navbar-toggler-caledonia {
                    padding: .25rem .75rem;
                    font-size: 1.25rem;
                    line-height: 1;
                    transition: box-shadow .15s ease-in-out;
                    span{
                        display: inline-block;
                        height: 1.5em;
                        vertical-align: middle;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100%;
                        font-weight: bold;
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                }
                .collapse-caledonia{
                    align-items: center;
                    width: 100%;
                    .navbar-nav-caledonia{
                        display: flex;
                        flex-direction: column;
                        padding-left: 0;
                        margin-bottom: 0;
                        list-style: none;
                        .nav-link-caledonia {
                            display: block;
                            padding: .5rem .5rem;
                            text-decoration: none;
                            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
                            font-weight: bold;
                        }
                    }
                }
                .collapse-caledonia:not(.show-caledonia) {
                    display: none;
                }
            }
        }
        hr.hrfirst, hr.hrsecond{
            display: none;
        }
    }
}
@media (min-width: 768px){
    body{
        header{
            .navbar-caledonia {
                .container-fluid-caledonia{
                    .navbar-brand-caledonia{
                        .caledonia-title-lg{
                        }
                        .caledonia-title-sm{
                        }
                    }
                    .navbar-toggler-caledonia {
                    }
                    .collapse-caledonia{
                        .navbar-nav-caledonia{
                            .nav-link-caledonia {
                                padding: .5rem 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 720px){
    body{
        header{
            background-image: -webkit-linear-gradient(90deg, #e3e3e3 0%, #28a745 91%, #ffffff00 100%)!important;
            .caledonia-menu{
                .container-fluid-caledonia{
                    .collapse-caledonia{
                        align-items: center;
                        justify-content: center;
                    }
                }
                .container-fluid-caledonia{
                    .collapse-caledonia{
                        .navbar-nav-caledonia{
                            background-color: #e3e3e3;
                            border-radius: 50rem;
                            border: 1px solid #e3e3e3;
                        }
                    }
                }   
                
            }
            .navbar-caledonia, .caledonia-menu {
                flex-wrap: nowrap;
                justify-content: flex-start;
                .container-fluid-caledonia{
                    .navbar-brand-caledonia{
                        .caledonia-title-lg{
                        }
                        .caledonia-title-sm{
                        }
                    }
                    .navbar-toggler-caledonia {
                        display: none;
                    }
                    .collapse-caledonia{
                        display: flex!important;
                        .navbar-nav-caledonia{
                            flex-direction: row;
                            li{
                                position: relative;
                                .nav-link-caledonia {
                                    padding-right: .5rem;
                                    padding-left: .5rem;
                                }
                                .dropdown-menu-caledonia-show{
                                    display: block!important;
                                }
                                .dropdown-menu-caledonia{
                                    left: -190px;
                                    top: 40px;
                                    min-width: 19.2rem;
                                    display: none;
                                    position: absolute;
                                    z-index: 2;
                                    padding: .5rem 0;
                                    margin: .125rem 0 0 1rem;
                                    font-size: 1rem;
                                    text-align: left;
                                    list-style: none;
                                    background-clip: padding-box;
                                    border: 1px solid rgba(0,0,0,.15);
                                    border-radius: .25rem;
                                    background-color: #6c757d;
                                    a{
                                        color: white;
                                        display: block;
                                        width: 100%;
                                        padding: .25rem 2rem;
                                        clear: both;
                                        text-align: inherit;
                                        text-decoration: none;
                                        white-space: nowrap;
                                        background-color: transparent;
                                        border: 0;
                                        font-weight: bold;
                                        padding-right: 0!important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            hr.hrfirst, hr.hrsecond{
                display: block;
                color: #6c757d!important;
            }
            hr.hrfirst{
                margin: 1rem 3rem 0px 3rem;
            }
            hr.hrsecond{
                margin: -.4rem 3rem 0px 3rem;
            }
        }
    }
}
@media (max-width: 719px){
    body{
        // margin-right: 0;
        header{
            .caledonia-menu {
                .container-fluid-caledonia{
                    .navbar-brand-caledonia{
                        .caledonia-title-lg{
                            display: block;
                        }
                        .caledonia-title-sm{
                            display: none;
                        }
                    }
                    .navbar-toggler-caledonia {
                        width:45%;
                    }
                    .collapse-caledonia{
                        .navbar-nav-caledonia{
                            width: 50%;
                            transform: translate(50%, 0px);
                            background-color: #e3e3e3;
                            border-radius: 10px;
                            border: 1px solid #e3e3e3;
                            margin-top: -1px;
                            li{
                                .dropdown-menu-caledonia {
                                    margin-left: 0%;
                                    a{
                                        font-weight: bold;
                                        padding-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 575px){
    body{
        // margin-right: 0;
        header{
            .caledonia-menu {
                .container-fluid-caledonia{
                    .navbar-brand-caledonia{
                        .caledonia-title-lg{
                        }
                        .caledonia-title-sm{
                        }
                    }
                    .navbar-toggler-caledonia {
                    }
                    .collapse-caledonia{
                        .navbar-nav-caledonia{
                            li{
                                .dropdown-menu-caledonia {
                                    margin-left: -10%;
                                    a{
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 490px){
    body{
        // margin-right: 0;
        header{
            .caledonia-menu {
                .container-fluid-caledonia{
                    .navbar-brand-caledonia{
                        .caledonia-title-lg{
                        }
                        .caledonia-title-sm{
                        }
                    }
                    .navbar-toggler-caledonia {
                    }
                    .collapse-caledonia{
                        .navbar-nav-caledonia{
                            li{
                                .dropdown-menu-caledonia {
                                    margin-left: -10%;
                                    min-width: 16rem;
                                    a{
                                        font-weight: normal;
                                        font-size: 13px;
                                        padding-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 415px){
    body{
        // margin-right: 0;
        header{
            .caledonia-menu {
                .container-fluid-caledonia{
                    .navbar-brand-caledonia{
                        .caledonia-title-lg{
                        }
                        .caledonia-title-sm{
                        }
                    }
                    .navbar-toggler-caledonia {
                    }
                    .collapse-caledonia{
                        .navbar-nav-caledonia{
                            li{
                                .dropdown-menu-caledonia {
                                    margin-left: -25%;
                                    a{
                                        padding-right: 0;
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 390px){
    body{
        // margin-right: 0;
        header{
            .caledonia-menu {
                .container-fluid-caledonia{
                    .navbar-brand-caledonia{
                        .caledonia-title-lg{
                        }
                        .caledonia-title-sm{
                        }
                    }
                    .navbar-toggler-caledonia {
                    }
                    .collapse-caledonia{
                        .navbar-nav-caledonia{
                            li{
                                .dropdown-menu-caledonia {
                                    margin-left: -30%;
                                    a{
                                        padding-right: 0;
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 369px){
    body{
        header{
            .caledonia-menu {
                .container-fluid-caledonia{
                    .navbar-brand-caledonia{
                        .caledonia-title-lg{
                        }
                        .caledonia-title-sm{
                        }
                    }
                    .navbar-toggler-caledonia {
                    }
                    .collapse-caledonia{
                        .navbar-nav-caledonia{
                            li{
                                .dropdown-menu-caledonia {
                                    margin-left: -38%;
                                    a{
                                        padding-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 358px){
    body{
        header{
            .navbar-caledonia, .caledonia-menu {
                .container-fluid-caledonia{
                    .navbar-brand-caledonia{
                        .caledonia-title-lg{
                            display: block;
                        }
                        .caledonia-title-sm{
                            display: none;
                        }
                    }
                    .navbar-toggler-caledonia {
                    }
                    .collapse-caledonia{
                        .navbar-nav-caledonia{
                            .nav-link-caledonia {
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 355px){
    body{
        header{
            .caledonia-menu {
                .container-fluid-caledonia{
                    padding-left: .1rem;
                    .navbar-brand-caledonia{
                        .caledonia-title-lg{
                            display: block;
                        }
                        .caledonia-title-sm{
                            display: none;
                        }
                    }
                    .navbar-toggler-caledonia {
                        width: 70%;
                    }
                    .collapse-caledonia{
                        .navbar-nav-caledonia{
                            width: 100%;
                            transform: translate(0%, 0px);
                            li{
                                .dropdown-menu-caledonia {
                                    margin-left: 0;
                                    width: 100%;
                                    min-width: 0;
                                    a{
                                        font-weight: normal;
                                        font-size: 13px;
                                        padding-left: 7px;
                                        padding-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 303px){
    body{
        // margin: 0px 0 0 0;
    }
}


@mixin blockContent(){
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
@mixin btnContent() {
    background-color: transparent;
    border-color: white!important;
}
@mixin btnContentCustom {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
}

/**============================================== HANDLING FOR IMAGE HEADER===============================================*/
header{
    .bg-caledonia{
        position: relative;
        .bg-img-caledonia{
            width: 100%;
            height: auto;
        }
        .bg-caledonia-content{
            position: absolute;
            @include blockContent();
            margin-bottom: 10rem;
            color: #fff;
            .bg-caledonia-title{

            }
            .bg-caledonia-subtitle{

            }
            .bg-caledonia-btn{
                .bg-caledonia-services{
                    background-color: #28a745;
                    border-color: #28a745;
                }
                .bg-caledonia-contact-us{
                    @include btnContent();
                    text-align: left;
                }
                .bg-caledonia-services, .bg-caledonia-contact-us{
                    @include btnContentCustom();
                    color: #fff;
                }
            }
        }
    }
}

@media (max-width: 1200px){
    header{
        .bg-caledonia{
            .bg-img-caledonia{
            }
            .bg-caledonia-content{
                margin-bottom: 5rem;
                .bg-caledonia-title{
    
                }
                .bg-caledonia-subtitle{
    
                }
                .bg-caledonia-btn{
                    .bg-caledonia-services{
                    }
                    .bg-caledonia-contact-us{
                    }
                    .bg-caledonia-services, .bg-caledonia-contact-us{
                    }
                }
            }
        }
    }
}
@media (max-width: 810px){
    header{
        .bg-caledonia{
            .bg-img-caledonia{
            }
            .bg-caledonia-content{
                margin-bottom: 0rem;
                right: 5%;
                left: 5%;
                .bg-caledonia-title{
    
                }
                .bg-caledonia-subtitle{
    
                }
                .bg-caledonia-btn{
                    .bg-caledonia-services{
                    }
                    .bg-caledonia-contact-us{
                    }
                    .bg-caledonia-services, .bg-caledonia-contact-us{
                    }
                }
            }
        }
    }
}
@media (max-width: 629px){
    header{
        .bg-caledonia{
            .bg-img-caledonia{
            }
            .bg-caledonia-content{
                margin-bottom: 0rem;
                right: 0%;
                left: 2%;
                .bg-caledonia-title{
                    text-align: center;
                }
                .bg-caledonia-subtitle{
    
                }
                .bg-caledonia-btn{
                    .bg-caledonia-services{
                    }
                    .bg-caledonia-contact-us{
                    }
                    .bg-caledonia-services, .bg-caledonia-contact-us{
                    }
                }
            }
        }
    }
}
@media (max-width: 577px){
    header{
        .bg-caledonia{
            .bg-img-caledonia{
            }
            .bg-caledonia-content{
                .bg-caledonia-title{
                    margin: 0;
                    padding: 0;
                }
                .bg-caledonia-subtitle{
                    margin: 0 5px 0px 0px;
                    padding: 5px 0;
                }
                .bg-caledonia-btn{
                    margin-left: 20px;
                    .bg-caledonia-services{
                    }
                    .bg-caledonia-contact-us{
                    }
                    .bg-caledonia-services, .bg-caledonia-contact-us{
                        padding: .25rem .5rem;
                        font-size: .875rem;
                        border-radius: .2rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 450px){
    header{
        .bg-caledonia{
            .bg-img-caledonia{
            }
            .bg-caledonia-content{
                padding-bottom: 0;
                .bg-caledonia-title{
                }
                .bg-caledonia-subtitle{
                }
                .bg-caledonia-btn{
                    .bg-caledonia-services{
                    }
                    .bg-caledonia-contact-us{
                    }
                    .bg-caledonia-services, .bg-caledonia-contact-us{
                    }
                }
            }
        }
    }
}
@media (max-width: 406px){
    header{
        .bg-caledonia{
            .bg-img-caledonia{
            }
            .bg-caledonia-content{
                .bg-caledonia-title{
                    font-size: 20px;
                }
                .bg-caledonia-subtitle{
                    font-size: 13px;
                }
                .bg-caledonia-btn{
                    .bg-caledonia-services{
                    }
                    .bg-caledonia-contact-us{
                    }
                    .bg-caledonia-services, .bg-caledonia-contact-us{
                    }
                }
            }
        }
    }
}
@media (max-width: 325px){
    header{
        .bg-caledonia{
            .bg-img-caledonia{
            }
            .bg-caledonia-content{
                .bg-caledonia-title{
                    font-size: 15px;
                }
                .bg-caledonia-subtitle{
                    font-size: 10px;
                }
                .bg-caledonia-btn{
                    .bg-caledonia-services{
                    }
                    .bg-caledonia-contact-us{
                    }
                    .bg-caledonia-services, .bg-caledonia-contact-us{
                        font-size: 10px;
                    }
                }
            }
        }
    }
}


/**============================================== HANDLING FOR GRID MAIN===============================================*/
main{
    .grid-container-caledonia{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto auto auto;
        padding: 10px;
        margin-top: -5px;
        background-color: #96caa2;
        .grid-item{
            padding: 20px;
            text-align: center;
            img{
            }
        }
        .grid-item-caledonia-order-img{
            grid-column: 1 /span 1;
            grid-row: 1;
            img{
                width: 100%;
                height: auto;
            }
            img.img-1290{
                display: block;
            }
            img.img-1000, img.img-840, img.img-720, img.img-719{
                display: none;
            }
        }
        .grid-item-order-online{
            grid-column: 2/ span 2;
            grid-row: 1;
        }
        .grid-item-teams{
            grid-column: 1/ span 1;
            grid-row: 2;
        }
        .grid-item-services{
            grid-column: 2/ span 1;
            grid-row: 2;
        }
        .grid-item-caledonia-services-img{
            grid-column: 3/ span 1;
            grid-row: 2;
            img{
                width: 100%;
                height: auto;
            }
            img.img-1290{
                display: block;
            }
            img.img-1000, img.img-840, img.img-720, img.img-719{
                display: none;
            }
        }
        .grid-item-content{
            @include blockContent();
            .bg-caledonia-content{
                h1{
                    .symbol{
                        font-size: 90px;
                    }
                }
                .bg-caledonia-btn{
                    a:hover{
                        font-weight: bold;
                        background-color: green;
                        color: white;
                        border-color: black;
                    }
                    .bg-caledonia-services, .bg-caledonia-contact-us{
                        @include btnContentCustom();
                        @include btnContent();
                        color: black;
                    }
                }
            }
        }
    }
}

@media (max-width: 2100px){
    main{
        .grid-container-caledonia{
            .grid-item-content{
                .bg-caledonia-content{
                    h1{
                        .symbol{
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1800px){
    main{
        .grid-container-caledonia{
            .grid-item-content{
                .bg-caledonia-content{
                    h1{
                        .symbol{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1500px){
    main{
        .grid-container-caledonia{
            .grid-item-content{
                .bg-caledonia-content{
                    h1{
                        .symbol{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1290px){
    main{
        .grid-container-caledonia{
            .grid-item{
                img{
                }
            }
            .grid-item-content{
                .bg-caledonia-content{
                    h1{
                        .symbol{
                            font-size: 60px;
                        }
                    }
                }
            }
            .grid-item-caledonia-order-img{
                img.img-1290,img.img-840, img.img-720, img.img-719{
                    display: none;
                }
                img.img-1000{
                    display: block;
                }
            }
            .grid-item-order-online{
            }
            .grid-item-teams{
            }
            .grid-item-services{
            }
            .grid-item-caledonia-services-img{
                img.img-1290,img.img-840, img.img-720, img.img-719{
                    display: none;
                }
                img.img-1000{
                    display: block;
                }
            }
        }
    }
}
@media (max-width: 1000px){
    main{
        .grid-container-caledonia{
            .grid-item-caledonia-order-img{
                img.img-1290,img.img-1000, img.img-720, img.img-719{
                    display: none;
                }
                img.img-840{
                    display: block;
                }
            }
            .grid-item-caledonia-services-img{
                img.img-1290,img.img-1000, img.img-720, img.img-719{
                    display: none;
                }
                img.img-840{
                    display: block;
                }
            }
        }
    }
}
@media (max-width: 840px){
    main{
        .grid-container-caledonia{
            .grid-item-caledonia-order-img{
                img.img-1290,img.img-1000,img.img-840, img.img-719{
                    display: none;
                }
                img.img-720{
                    display: block;
                }
            }
            .grid-item-caledonia-services-img{
                img.img-1290,img.img-1000,img.img-840, img.img-719{
                    display: none;
                }
                img.img-720{
                    display: block;
                }
            }
        }
    }
}
@media (max-width: 720px){
    main{
        .grid-container-caledonia{
            grid-template-columns: auto;
            .grid-item{
                img{
                }
            }
            .grid-item-content{
                .bg-caledonia-content{
                    h1{
                        .symbol{
                            font-size: 60px;
                            display: block;
                        }
                    }
                }
            }
            .grid-item-caledonia-order-img{
                grid-row: 1;
                grid-column: 1/ span 1;
                img.img-1290,img.img-1000,img.img-840, img.img-720{
                    display: none;
                }
                img.img-719{
                    display: block;
                }
            }
            .grid-item-order-online{
                grid-row: 2;
                grid-column: 1/ span 1;
            }
            .grid-item-teams{
                grid-row: 3;
                grid-column: 1/ span 1;
            }
            .grid-item-services{
                grid-row: 4;
                grid-column: 1/ span 1;
            }
            .grid-item-caledonia-services-img{
                grid-row: 5;
                grid-column: 1/ span 1;
                img.img-1290,img.img-1000,img.img-840, img.img-720{
                    display: none;
                }
                img.img-719{
                    display: block;
                }
            }
        }
    }
}


/**============================================== HANDLING FOR FLEXBOX FOOTER===============================================*/
footer{
    background-color: #bbebc6;
    margin-top: -16px;
    margin-bottom: -16px;
    .footer-caledonia{
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-top: 20px;
        width: 92%;
        li{
            width: 32%;
            .footer-menu{
                color: black;
                display: block;
                text-decoration: none;
                font-weight: bold;
                text-align: left;
                padding-left: 20px;
                padding-right: 0;
            }
            .footer-mnu-item-emergency div{
                font-weight: normal!important;
            }
            .footer-menu-item{
                z-index: 2;
                padding: .5rem 0;
                margin: .125rem 0 0 1rem;
                font-size: 1rem;
                text-align: left;
                list-style: none;
                background-clip: padding-box;
                background-color: transparent;
                div{
                    color: black;
                    display: block;
                    width: 100%;
                    clear: both;
                    text-align: inherit;
                    text-decoration: none;
                    white-space: nowrap;
                    background-color: transparent;
                    border: 0;
                    font-weight: bold;
                    padding-right: 0 !important;
                    font-size: 1rem;
                    list-style: none;
                }
                p{
                    margin-top: 0;
                }
                .email{
                    display: none;
                }
                .email-inline{
                    display: block;
                }
            }
        }
    }
    .footer{
        padding-bottom: 20px;
        padding-top: 20px;
        background-color: #d5ffdf;
        .float-right{
            float: right;
            margin: 0;
            margin-right: 20px;
            margin-top: 16px;
            a{
                text-decoration: underline;
            }
        }
        .privacy-terms {
            font-weight: 400;
            margin-left: 20px;
            a{
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 870px){
    footer{
        .footer-caledonia{
            li{
                .footer-menu{
                }
                .footer-mnu-item-emergency div{
                }
                .footer-menu-item{
                    div{
                    }
                    p{
                    }
                    .email{
                        display: block;
                    }
                    .email-inline{
                        display: none;
                    }
                }
            }
        }
    }
    
}
@media (max-width: 720px){
    footer{
        .footer-caledonia{
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            li{
                width: 90%;
                margin-top: 20px;
                .footer-menu{
                    padding-left: 2.5rem;
                }
                .footer-mnu-item-emergency div{
                }
                .footer-menu-item{
                    padding: .5rem 0;
                    font-size: 1rem;
                    text-align: left;
                    list-style: none;
                    background-clip: padding-box;
                    border-radius: .25rem;
                    margin-left: 0%;
                    div{
                        display: block;
                        width: 100%;
                        padding: .25rem 2rem;
                        clear: both;
                        text-align: inherit;
                        text-decoration: none;
                        white-space: nowrap;
                        background-color: transparent;
                        border: 0;
                        font-weight: bold;
                        padding-right: 0 !important;
                        font-weight: bold;
                    }
                    p{
                        padding: .25rem 2rem;
                        padding-right: 0 !important;
                    }
                    .email{
                        display: none;
                    }
                    .email-inline{
                        display: block;
                    }
                }
            }
        }
    }
    
}